     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     
     main {
         width: 100vw;
         height: 100vh;
         overflow: hidden;
     }
     
     @media screen and (min-width: 902px) and (min-height: 600px) {
         #principale-movile {
             display: none;
         }
         #principale {
             width: 100%;
             height: 100%;
         }
         #body-buttons {
             position: relative;
             top: -90%;
             left: 5%;
             width: 95%;
             height: 40%;
         }
         .titlle1 {
             position: relative;
             top: 15%;
             width: 45%;
             height: auto;
         }
         .tittle2 {
             position: relative;
             top: 100%;
             left: -45%;
             width: 10%;
         }
         .titlle3 {
             position: relative;
             top: 25%;
             left: 5%;
             width: 50%;
             height: auto;
         }
         #header-buttons {
             width: 60%;
             height: 20%;
             position: relative;
             top: -95%;
             left: 20%;
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
         .principal-buttons {
             width: 30%;
             height: 100%;
         }
         .principal-buttons img {
             width: 100%;
             height: 90%;
         }
         #ATS_Home_Pantry {
             position: relative;
             top: -80%;
             left: 10%;
             width: 35%;
             height: 60%;
             cursor: pointer;
         }
         #ATS_Home_Pantry img {
             width: 100%;
             height: 100%;
         }
         #ATS_RetailScanning {
             position: relative;
             top: -140%;
             left: 55%;
             width: 35%;
             height: 60%;
             cursor: pointer;
         }
         #ATS_RetailScanning img {
             width: 100%;
             height: 100%;
         }
         .individual-buttons {
             width: 60%;
             height: 100%;
             display: flex;
             align-items: center;
             justify-content: space-evenly;
         }
         #ATS_RetailServices {
             width: 25%;
             height: 100%;
             cursor: pointer;
         }
         .frist-child {
             width: 100%;
             height: 83%;
         }
         .last-child {
             z-index: 3;
             width: 65%;
             height: 67%;
             position: relative;
             top: -79%;
             left: 18%;
         }
         .money {
             width: 71%;
             height: 52%;
             top: -70%;
             left: 15%;
         }
         #ATS_MoneyMarket {
             width: 25%;
             height: 100%;
             cursor: pointer;
         }
         #ATS_Panelistas {
             width: 25%;
             height: 100%;
             cursor: pointer;
         }
         .footer-buttons {
             position: absolute;
             top: 85%;
             left: 5%;
             width: 40%;
             height: auto;
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
         #ATS_Operaciones_Retail {
             width: 47%;
             height: auto;
             cursor: pointer;
         }
         #ATS_Operaciones_Retail img {
             width: 100%;
             height: auto;
         }
         #ATS_Operaciones_Home {
             width: 47%;
             height: auto;
             cursor: pointer;
         }
         #ATS_Operaciones_Home img {
             width: 100%;
             height: auto;
         }
     }
     /* #background {
     left: 0px;
     top: 0px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 2094px;
     height: 1081px;
     overflow: hidden;
     z-index: 0;
 }
 
 #VISUAL {
     left: 0px;
     top: 0px;
     position: absolute;
     width: 2094px;
     height: 1081px;
     z-index: 1;
 }
 
 #IMAGEN08 {
     left: 2px;
     top: 0px;
     position: absolute;
     width: 2092px;
     height: 1081px;
     z-index: 2;
 }
 
 #Titulo1 {
     left: 189px;
     top: 525px;
     position: absolute;
     width: 840px;
     height: 93px;
     z-index: 3;
 }
 
 #Titulo2 {
     left: 90px;
     top: 911px;
     position: absolute;
     width: 194px;
     height: 23px;
     z-index: 4;
 }
 
 #Titulo3 {
     left: 316px;
     top: 661px;
     position: absolute;
     width: 942px;
     height: 112px;
     z-index: 5;
 }
 
 #ATSBOTONES02 {
     left: 524px;
     top: 89px;
     position: absolute;
     width: 414px;
     height: 178px;
     z-index: 6;
 }
 
 #ATSBOTONES03 {
     left: 1404px;
     top: 91px;
     position: absolute;
     width: 176px;
     height: 173px;
     z-index: 7;
 }
 
 #ATSBOTONES04 {
     left: 1205px;
     top: 90px;
     position: absolute;
     width: 176px;
     height: 174px;
     z-index: 8;
 }
 
 #ATSBOTONES05 {
     left: 1005px;
     top: 89px;
     position: absolute;
     width: 177px;
     height: 174px;
     z-index: 9;
 }
 
 #ATSBOTONES06 {
     left: 82px;
     top: 951px;
     position: absolute;
     width: 252px;
     height: 85px;
     z-index: 10;
 }
 
 #ATSBOTONES07 {
     left: 350px;
     top: 948px;
     position: absolute;
     width: 253px;
     height: 85px;
     z-index: 11;
 } */